<!-- Button trigger modal -->
<div class="container">
    <div class="row">
        <div class="col-10 form-inline">
            <h2> 
                <i class="material-icons">shopping_cart</i> 
            </h2>
            <h3> - Productos</h3>
        </div>
        <div class="col-2">
            <button mat-raised-button (click)="childcomp.onCreateProduct()" class="float-right" color="primary">
                Crear Producto
            </button>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<app-product-list #childcomp></app-product-list>