<form [formGroup]="customerForm">
<h1 mat-dialog-title>Crear Nuevo Cliente</h1>
<div mat-dialog-content>
        <div class="modal-body">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control form-control-sm" id="nombre" 
                placeholder="Nombre del cliente" required
                [(ngModel)]="_customer.nombre" formControlName="nombre">
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="RNC">RNC</label>
                    <input type="number" class="form-control form-control-sm" id="rnc" 
                    placeholder="RNC" required
                    [(ngModel)]="_customer.rnc" formControlName="rnc">
                </div>
                <div class="col-6">
                    <label for="Correo">Correo del cliente</label>
                    <input type="text" class="form-control form-control-sm" id="correo" 
                    placeholder="Email del cliente" required
                    [(ngModel)]="_customer.correo" formControlName="correo">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="telefonoFijo">Teléfono Fijo</label>
                    <input type="text" class="form-control form-control-sm" id="telFijo" 
                    placeholder="Teléfono Fijo" 
                    [(ngModel)]="_customer.telefono_fijo" formControlName="telFijo">
                </div>
                <div class="col-6">
                    <label for="telefonoMovil">Teléfono Móvil</label>
                    <input type="text" class="form-control form-control-sm" id="telMovil" 
                    placeholder="Teléfono Movil" 
                    [(ngModel)]="_customer.telefono_movil" formControlName="telMovil">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                <label for="correo">Tipo de Cliente</label> 
                <select class="form-control form-control-sm" id=""
                    formControlName="tipo" [(ngModel)]="_customer.tipo">
                        <option *ngFor="let tipo of tipos" 
                            value="{{tipo}}">{{tipo}}</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Ubicacion">Tipo NCF</label>
                        <select class="form-control form-control-sm" 
                            formControlName="tipoNFC" [(ngModel)]="_customer.ncf_tipo">
                                <option *ngFor="let ncf of ncfTipos" 
                                    value="{{ncf.id}}">{{ncf.descripcion}}</option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div mat-dialog-actions>
        <button *ngIf="!creatingNewCustomer" mat-raised-button color="primary" 
        [mat-dialog-close]="_customer" cdkFocusInitial>
            Editar
        </button>
        <button *ngIf="creatingNewCustomer" mat-raised-button color="primary" 
        [mat-dialog-close]="_customer" cdkFocusInitial>
            Crear
        </button>
        <button mat-stroked-button (click)="onNoClick()" color="warn">Cancelar</button>
    </div>
</form>