<!-- Button trigger modal -->
<div class="container">
    <div class="row">
        <div class="col-10 form-inline">
            <h2> 
                <i class="material-icons">group</i> &nbsp;
            </h2>
            <h3> Clientes | Proveedores </h3>
        </div>
        <div class="col-2">
            <button mat-raised-button class="float-right" color="primary" data-toggle="modal" data-target="#customerCreate">
                Crear Entidad</button>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<app-customer-create></app-customer-create>
<app-customer-list></app-customer-list>