<!-- Modal -->
<div class="modal fade" id="productCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">  
            <h5 class="modal-title" id="exampleModalLongTitle">Crear Producto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form (ngSubmit)="onCreateProduct()" #productForm="ngForm">
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-6">
                        <label for="Nombre">Nombre</label>
                        <input type="text" class="form-control form-control-sm" id="nombre" 
                        placeholder="Nombre del producto" required
                        [(ngModel)]="product.nombre" name="nombre">
                    </div>
                    <div class="col-6">
                        <label for="Marca">Marca</label>
                        <input type="text" class="form-control form-control-sm" id="marca" 
                        placeholder="Marca del producto" required
                        [(ngModel)]="product.marca" name="marca">

                    </div>
                </div>
                <div class="form-group">
                    <label for="Descripcion">Descripción</label>
                    <input type="text" class="form-control form-control-sm" id="descripcion" 
                    placeholder="Descripción del producto" required
                    [(ngModel)]="product.descripcion" name="descripcion">
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="Codigo">Código</label>
                            <input type="text" class="form-control form-control-sm" id="codigo" 
                            placeholder="Código del producto" required
                            [(ngModel)]="product.codigo" name="codigo">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="itbisCheck"
                            [(ngModel)]="product.itbis" name="itbis" checked>
                            <label class="form-check-label" for="gridCheck1">
                            ITBIS
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="manejaInvCheck" 
                            [(ngModel)]="product.maneja_inventario" name="maneja_inventario" checked>
                            <label class="form-check-label" for="gridCheck1">
                            Maneja Inventario
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <label for="Codigo">Tipos</label>
                <ng-template ngFor let-tipo [ngForOf]="product.tipos" let-index="index" let-isFirst="first">
                    <div
                        class="tipo">
             
                        <div class="form-group row">
                            <div class="col-5">
                                <div class="form-group">
                                    <select class="form-control form-control-sm" 
                                    name="type_{{ tipo.tipo }}" [(ngModel)]="tipo.medida">
                                        <option *ngFor="let medida of medidas" 
                                            [value]="medida">{{medida}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <input type="number" class="form-control form-control-sm"
                                    placeholder="Precio" required
                                    [(ngModel)]="tipo.precio" name="precio_{{tipo.tipo}}">
                                </div>
                            </div>
                            <div class="col-2">
                                <span *ngIf="!isFirst" id="add-button" (click)="onRemoveTipo(index)">
                                    <i class="material-icons">remove_circle</i>
                                </span>
                                <span *ngIf="isFirst" id="add-button" (click)="addTipo()">
                                    <i class="material-icons">add_circle</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submit" type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
        </div>
    </div>
</div>