<!-- Button trigger modal -->
<div class="container">
    <div class="row">
        <mat-form-field class="example-full-width col-md-6">
            <mat-label>Buscar producto</mat-label>
            <input matInput placeholder="Ex. Lapiz" value="">
        </mat-form-field>

        <div class="col-md-6">
            <button mat-raised-button class="float-right" color="primary" data-toggle="modal" data-target="#productCreate">
                Crear Producto</button>
        </div>
    </div>
</div>
<app-product-create></app-product-create>
<app-product-list></app-product-list>