<!-- Button trigger modal -->
<div class="container">
    <div class="row">
        <input class="form-control col-md-6" type="text" placeholder="Buscar producto" aria-label="Search">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#productCreate">
                Crear Producto
            </button>
        </div>
    </div>
</div>
<hr>
<app-product-create></app-product-create>
<app-product-list></app-product-list>