<!-- Button trigger modal -->
<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="form-group form-inline">
                <mat-form-field class="example-full-width col-md-6">
                    <mat-label>Buscar entidad</mat-label>
                    <input matInput placeholder="Ex. Globatec, SRL" value="">
                </mat-form-field>
                <label for="Filter" class="ml-2 mr-2">Filtros: </label>
                <mat-checkbox (change)="proveedorOnChange()" [(ngModel)]="checkBoxProveedor">Proveedor</mat-checkbox>
            </div>
        </div>
        <div class="col-2">
            <button mat-raised-button class="float-right" color="primary" data-toggle="modal" data-target="#customerCreate">
                Crear Entidad</button>
        </div>
    </div>
</div>
<app-customer-create></app-customer-create>
<app-customer-list></app-customer-list>