<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Marca</th>
      <!-- <th scope="col">Descripción</th> -->
      <th scope="col">Codigo</th>
      <th scope="col">ITBIS</th>
      <th scope="col">Ubicación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList; let i = index">
      <th scope="row">{{i}}</th>
      <td>{{product.nombre}}</td>
      <td>{{product.marca}}</td>
      <!-- <td>{{product.descripcion}}</td> -->
      <td>{{product.codigo}}</td>
      <td>{{product.itbis}}</td>
      <td>{{product.ubicacion}}</td>
    </tr>
  </tbody>
</table>