<table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">RNC</th>
        <th scope="col">Tipo</th>
        <th scope="col">Correo</th>
        <th scope="col">Número Teléfono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customerList; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{customer.nombre}}</td>
        <td>{{customer.rnc}}</td>
        <td>{{customer.tipo}}</td>
        <td>{{customer.correo}}</td>
        <td>{{customer.telefonoFijo}}</td>
      </tr>
    </tbody>
  </table>